div(class="container mx-auto px-4 md:col-span-3")
    h2.text-4xl.text-center.mb-4.font-bold Featured Cats
    section(class="grid grid-cols-1 md:grid-cols-2 gap-4 justify-items-center p-4")
        .max-w-sm.bg-white.p-4.grid.gap-2.rounded-2xl.shadow-inner
            h3.text-3xl.text-center Sophie
            img.rounded-full.mx-auto.shadow-lg(src="/img/sophie-hero.jpg", alt="Sophie looking goofy")
            p.max-w-prose.mx-auto She isn't the smartest cat in the world. If I had to rate her on a scale of #[b smart] to #[b not smart] then I'd strongly place her in #[b not smart]. Her size is surprisingly small and she's a bit goofy looking, but we love her anyway. Also, her voice is very not good.
        .max-w-sm.bg-white.p-4.grid.gap-2.rounded-2xl.shadow-inner
            h3.text-3xl.text-center Remi
            img.rounded-full.mx-auto.shadow-lg(src="/img/remi-hero.jpg", alt="Remi looking pretty")
            p.max-w-prose.mx-auto All looks and nearly no personality. Remi is nice to look at but not nice as a cat, or friend. We keep her around regardless of her spicy character, but we'd be lying if we said it was that simple. Her voice is fine.