section#welcome.bg-center.bg-no-repeat.bg-cover.w-full.p-8.text-center.mb-4
    header.container.p-8.mx-auto
        h1.text-5xl.mb-8.font-black This is a website about cats.
        .my-4.container.text-xl
            p.max-w-prose.mx-auto It's not a very big website. Actually, it's quite small. That's fine though because one of these cats is #[i particularly] small.