extends ./layouts/layout.pug

block content
    section(class="container mx-auto md:container px-4 py-8 text-center")
        h1.text-xl.mb-4= title
        p.text-4xl.mb-8 It's a website about cats. Thanks for looking at it.
        a(href="/", class="underline text-blue-700 hover:text-blue-400 text-base") Please go back home. 